@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-primary font-body bg-white;
  }
}

@layer components {
  .nav-menu {
    @apply absolute top-0 right-0 left-0 bottom-0 bg-tertiary 
           flex flex-col gap-16 
           md:flex-row md:gap-12 md:pt-2 pt-28 
           opacity-0 pointer-events-none transition-opacity duration-300 
           md:opacity-100 md:relative ease-out scale-100 
           md:pointer-events-auto md:bg-white items-center;
  }

  .nav-link {
    @apply uppercase text-xl;
  }

  .nav-link-active {
    @apply font-bold;
  }
}
